

mat-grid-list {
  .mat-icon {
    overflow: hidden;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    // margin: 12px;
  }
}

mat-card {
  // height: 320px;
  margin: auto;
  width: 600px;
}

// mat-grid-tile {
//   background: lightblue;
// }