<mat-drawer-container [class.my-dark-theme]="swichThemeChecked">
  <mat-drawer #sidenav mode="over">
    <app-sidebar (navClick)="sidenav.toggle()"></app-sidebar>
  </mat-drawer>
  <div class="site" id="add">
    <header>
      <app-header
        (toggle)="sidenav.toggle()"
        (swichTheme)="swichTheme($event)"
      >
      </app-header>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</mat-drawer-container>
