<form action="" autocomplete="off">
  <h2 mat-dialog-title>{{title}}</h2>
    <mat-dialog-content>
      <mat-form-field class="full-width" color="warn">
        <input type="text" matInput placeholder="项目内容">
      </mat-form-field>
      <mat-radio-group
        class="example-radio-group"
      >
        <mat-radio-button class="example-radio-button" *ngFor="let priority of priorities" [value]="priority.value">
        {{priority.label}}
        </mat-radio-button>
      </mat-radio-group>
      
      <mat-form-field appearance="standard" class="full-width">
        <mat-label>任务截止日期</mat-label>
        <input matInput type="url" [matDatepicker]="dueDatepicker">
        <mat-datepicker-toggle matSuffix [for]="dueDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #dueDatepicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="standard" class="full-width">
        <mat-label>提醒日期</mat-label>
        <input matInput [matDatepicker]="reminderDatepicker">
        <mat-datepicker-toggle matSuffix [for]="reminderDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #reminderDatepicker></mat-datepicker>
      </mat-form-field>


    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button type="button" color="primary" (click)="onClick()">保存</button>
      <button mat-button type="button" mat-dialog-close>关闭</button>
    </mat-dialog-actions>
</form>