@use "~@angular/material" as mat;

@include mat.core();

// Define a light theme
$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$deep-purple-palette);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
    ),
  )
);

// Define a dark theme
$dark-primary: mat.define-palette(mat.$blue-grey-palette, A700);
$dark-accent: mat.define-palette(mat.$blue-gray-palette);
// $dark-warn: mat.define-palette(mat.$deep-orange-palette);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      // warn: $dark-warn
    ),
  )
);

// Apply the dark theme by default
@include mat.all-component-themes($light-theme);
// @include mat.core-theme($dark-theme);
// @include mat.button-theme($dark-theme);

// Apply the light theme only when the `.my-light-theme` CSS class is applied
// to an ancestor element of the components (such as `body`).
.my-dark-theme {
  // @include mat.core-color($light-theme);
  // @include mat.button-color($light-theme);
  @include mat.all-component-themes($dark-theme);
}
